
html{
    font-size: 10px;
    font-family: sans-serif;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

h1{
    font-size: 4rem;
    color: #333333;
}
@media (max-width: 460px){
    h1{
        font-size: 3.5rem;
        line-height: 1.2;
    }
}
#title p{
    color: #5c5c5c;
}
#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }
  #img-div{
    background: white;
    padding: 10px;
    margin: 0;
  }
  #image{
      max-width: 100%;
      display: block;
      height: auto;
      margin: 0 auto;
  }
  #img-caption{
      font-size: 1.6rem;
      color: #5c5c5c;
  }
  #headline{
    color: #333333; 
  }
  #tribute-info ul{
    text-align: left;
    padding-top: 30px;
    color: #5c5c5c;
    max-width: 550px;
    line-height: 1.6;
    margin: 0 auto 50px auto;
  }
  #tribute-info ul strong{
      color: #333333;;
  }
  #tribute-info ul li{
      margin: 16px 0;
  }
  blockquote{
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  #tribute-link{
      opacity: 80%;
  }